@model StoresManagement.Models.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Contact.EntityId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact.EntityId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.AddressComplement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.AddressComplement)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>